body {
  background-color: #eeeeee;
}
body h2 {
  text-align: center;
}
.app-wrapper {
  margin: 10px 10px;
  border-radius: 3px;
  overflow: auto;
  padding: 0px 5px;
}
.app-wrapper .chartWrap {
  float: left;
  position: relative;
  width: 25%;
  background: white;
  height: 330px;
  border: 1px solid silver;
  margin: 0 4%;
}
.app-wrapper .chartWrap #onFeedChart {
  height: 100%;
}
.app-wrapper .chartWrap #photoUploadChart {
  height: 100%;
}
.app-wrapper .chartWrap #vendorChart {
  height: 100%;
}
.app-wrapper .chartWrap .highcharts-container {
  max-height: 300px;
}
